@media screen and (min-height: 896px) {
    .landing-page-container,
    .main-portfolio-container,
    .roadmap-container,
    .about-me-container,
    .contact-me-container {
        height: 100vh;
    }
}
@media screen and (min-width: 896px) {
    .landing-page-container {
        position: relative;
    }
    #new-upload {
        display: block;
        position: absolute;
        top: 10.9rem;
        left: 0.5rem;
        width: 25rem;
        padding: 0.5rem;
        text-align: center;
        background-color: black;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        color: var(--white);
        letter-spacing: -0.15rem;
    }
    #new-upload span:nth-child(3) {
        margin: 0 0.5rem 0 0;
    }
    .landing-page-video-container {
        position: absolute;
        top: 15rem;
        left: 0.5rem;
        height: fit-content;
        width: 25rem;
        padding: 0.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: inline-block;
        background-color: var(--main-dark-gray);
    }
    .landing-page-video {
        display: flex;
        justify-content: center;
    }
    .landing-page-video-container h2 {
        font-family: var(--roadmap-header-font), sans-serif;
        color: var(--white);
        text-align: center;
        margin: 0;
    }
    .landing-page-video-container p {
        color: var(--white);
        margin: 0;
    }
    .ellipse {
        display: none;
    }
    nav {
        display: flex;
        visibility: visible;
        height: 3rem;
        width: 70%;
        top: 0.5rem;
        right: 0.5rem;
        position: absolute;
        background-color: transparent;
    }
    #close-nav-menu {
        display: none;
    }
    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        margin: 0;
    }
    nav ul li {
        width: 5.8rem;
    }
    nav ul li a {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    nav ul li:nth-child(1) a {
        border: none;
        text-decoration: underline;
        text-decoration-color: var(--main-teal);
    }
    nav ul li:nth-child(5) a {
        border-radius: 2rem;
        background-color: var(--circle-background-green);
    }
    nav ul li a:hover {
        border: none;
        text-decoration: underline;
        text-decoration-color: var(--main-teal);
    }
    nav .social-links-container {
        display: none;
    }
    .main-logo-container {
        display: none;
    }
    .landing-page-content-container {
        padding: 1rem;
        float: right;
    }
    .previous-featured-projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .previous-featured-project {
        height: 35rem;
    }
    #activate-project {
        height: auto;
    }
    .previous-featured-project img {
        pointer-events: none;
    }
    .previous-featured-project-info {
        height: fit-content;
    }
    .portfolio-catalog {
        display: flex;
    }
    .portfolio-catalog-main-header {
        overflow: hidden;
    }
    .portfolio-catalog-header {
        height: fit-content;
    }
    .portfolio-catalog-img {
        height: 25rem;
    }
    .portfolio-catalog-main {
        flex: 1;
        height: fit-content;
        min-width: 25rem;
    }
    .portfolio-catalog-project-description {
        flex: 1;
        height: 100%;
    }
    #piano-key-1 {
        width: 25rem;
    }
    #piano-key-2 {
        width: 30rem;
    }
    #piano-key-3 {
        width: 35rem;
    }
    #piano-key-4 {
        width: 39rem;
    }
    #piano-key-5 {
        width: 43rem;
    }
    #piano-key-6 {
        width: 46rem;
    }
    #piano-key-7 {
        width: 49rem;
    }
    #piano-key-8 {
        width: 55rem;
    }
    .about-me-info {
        border-radius: 2rem;
    }
    .about-me-info h1 {
        font-size: 2.5rem;
    }
    .about-me-info p {
        padding: 0.5rem;
    }
    .farewell h2 {
        bottom: 0;
    }
    .contact-me-links-container {
        margin: 2rem auto auto auto;
    }
    .contact-me-watermark-container {
        bottom: 45rem;
    }
    #email {
        width: 30rem;
    }
    .contact-email-container {
        width: fit-content;
    }
}
@media screen and (hover: none) and (min-width: 896px) {
    nav ul li a:hover {
        border: none;
        text-decoration: none;
    }
}
@media screen and (hover: hover) {
    #submit {
        height: 4.38rem;
    }
    #expose-donation {
        top: -5.4rem;
    }
}
@media screen and (min-width: 1200px) {
    .piano-key {
        margin: 0 auto 0 auto;
    }
    .natural-key-content {
        float: none;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    .contact-email-container {
        margin: 0 auto 0 auto;
    }
    #new-upload {
        top: 25.9rem;
        left: 5rem;
    }
    .landing-page-video-container {
        top: 30rem;
        left: 5rem;
    }
    .portfolio-catalog-main-header {
        flex: 2;
    }
    .portfolio-catalog-main {
        flex: 1;
    }
    #email-header {
        border-top-left-radius: 0.3rem;
    }
    #email {
        border-bottom-left-radius: 0.3rem;
    }
    .contact-me-watermark-container {
        bottom: 75rem;
    }
}