.contact-me-watermark {
    background-color: var(--contact-circle-opac);
    box-shadow: none;
}
.donation-container {
    font-family: var(--contact-me-font), sans-serif;
    font-size: 0.8rem;
}
.activate-donation {
    background-color: var(--contact-circle-color);
}
.wallet-address {
    background-color: var(--contact-me-accent);
    border: 2px solid var(--black);
}
.wallet-address svg {
    border-left: 1px solid var(--black);
}
.wallet-address h3 {
    color: var(--white);
    font-weight: 500;
}
.wallet-address p {
    color: var(--white);
    font-weight: 300;
}
.donation-message {
    background-color: var(--contact-me-main);
    border: 2px solid var(--black);
    border-top: none;
    font-weight: 300;
}
.donation-message p:nth-child(1) {
    font-weight: 500;
}
.contact-me-footer-container {
    background-color: var(--contact-me-accent);
}
.footer-content {
    font-family: var(--contact-me-font), sans-serif;
    font-weight: 300;
    color: var(--white);
}
.footer-nav-format a {
    color: var(--white);
    text-decoration: none;
}
.footer-navigation h3 {
    font-weight: 300;
    font-size: 1.5rem;
}
.footer-navigation sup {
    font-size: 0.7rem;
}
.footer-mission h3 {
    font-size: 1.5rem;
    font-weight: 300;
}
.footer-mission p {
    font-size: 1rem;
    border-left: 2px solid var(--black);
}
#legal-info {
    color: var(--white);
    font-family: var(--contact-me-font), sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
}