.roadmap-segment-container {
    position: relative;
    height: 6.25rem;
    width: 18rem;
    margin: auto auto;
}
.roadmap-segment-1 {
    width: 1.5rem;
    right: 11rem;
    border-radius: 0.3125rem 0 0 0.3125rem;
}
.roadmap-segment-2 {
    width: 2.3rem;
    right: 8.7rem;
}
.roadmap-segment-3 {
    width: 4rem;
    right: 4.7rem;
}
.roadmap-segment-4 {
    width: 1.2rem;
    right: 3.5rem;
}
.roadmap-segment-5 {
    width: 2.2rem;
    right: 1.3rem;
    border-radius: 0 0.3125rem 0.3125rem 0;
}