.roadmap-segment-1 {
    background-color: var(--roadmap-segment-1);
}
.roadmap-segment-2 {
    background-color: var(--roadmap-segment-2);
}
.roadmap-segment-3 {
    background-color: var(--roadmap-segment-3);
}
.roadmap-segment-4 {
    background-color: var(--roadmap-segment-4);
}
.roadmap-segment-5 {
    background-color: var(--roadmap-segment-5);
}