.portfolio-catalog-header {
    background-color: var(--catalog-header-dark-gray);
}
.portfolio-catalog-social-link p {
    color: var(--white);
    font-family: var(--catalog-main-font), sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}
.bar p {
    font-family: var(--catalog-accent-font), sans-serif;
    font-size: 0.8rem;
}
.encourage-bar p {
    color: var(--catalog-bar-teal);
}
.discourage-bar p {
    color: var(--catalog-bar-pink);
}
.bar-container {
    background-color: var(--catalog-bar-container);
}
.encourage-bar-fill {
    background-color: var(--catalog-bar-teal);
}
.discourage-bar-fill {
    background-color: var(--catalog-bar-red);
}