.portfolio-catalog-header {
    display: flex;
    justify-content: space-between;
}
.portfolio-catalog-img {
    flex: 2;
    height: 11rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 45rem;
    position: relative;
    overflow: hidden;
}
.portfolio-catalog-img img {
    width: 100%;
    border-bottom-right-radius: 0.5rem;
    user-select: none;
}
.portfolio-catalog-social-container {
    position: absolute;
    top: 0;
    right: 0.5rem;
}
.portfolio-catalog-social-container .portfolio-catalog-social-link:nth-child(2) {
    transform: translateX(0.4rem);
}
.portfolio-catalog-social-link {
    display: flex;
    margin: 0.2rem 0 0 0;
}
.portfolio-catalog-social-link svg {
    width: 1.5rem;
}
.portfolio-catalog-social-link p  {
    margin: auto 0 auto 0.3rem;
}
.bar-content {
    display: flex;
    overflow-y: hidden;
}
.bar {
    position: relative;
    top: 0.5rem;
    height: 11rem;
    width: 4.5rem;
}
.bar p {
    position: absolute;
    transform: rotate(-90deg);
    margin: 0;
    user-select: none;
}
.encourage-bar p {
    top: 2rem;
    right: -0.4rem;
}
.discourage-bar p {
    top: 2rem;
    left: -1.5rem;
}
.bar-container {
    position: absolute;
    border-radius: 2rem;
    height: 10rem;
    width: 1.1rem;
}
.encourage-bar-container {
    right: 0rem;
}
.discourage-bar-container {
    left: 1.4rem;
}
.bar-fill {
    position: absolute; 
    width: 1.1rem;
    bottom: 0;
}
.encourage-bar-fill {
    height: 8rem;
}
.discourage-bar-fill {
    height: 4rem;
}