.self-portrait {
    height: 24.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    overflow: hidden;
}
.about-me-portrait {
    position: relative;
    height: 20rem;
    width: 20rem;
    overflow: visible;
}
.about-me-circle {
    position: absolute;
    z-index: -1;
    height: 18rem;
    width: 20rem;
    animation-name: grow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.blue-circle {
    top: -1.5rem;
}
.green-circle {
    top: 2.5rem;
    right: -2rem;
    transform: rotate(45deg);
    animation-delay: 1.5s;
}
.yellow-circle {
    top: 2.5rem;
    left: -2rem;
    transform: rotate(-45deg);
    animation-delay: 0.5s;
}
@keyframes grow {
    50% {
        transform: scaleY(1.1);
    }
}
.about-me-info {
    max-width: 50rem;
    margin: 0 auto 0 auto;
    text-align: center;
}
.about-me-info h1 {
    margin: 0 0 0.3rem 0;
    padding: 1rem;
}
.about-me-info p {
    margin: 0 0 0.3rem 0;
    padding: 0.5rem 0;
    line-height: 1rem;
}
.farewell {
    margin: 1rem 0 0 0;
    text-align: center;
}
.farewell h2 {
    margin: 0;
}