:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --portfolio-header-font: 'Angkor';
    --portfolio-main-font: 'Inter';
    --portfolio-btn-font: 'Poppins';
    --red: rgb(255, 0, 0);
    --orange: rgb(255, 165, 0);
    --yellow: rgb(255, 255, 0);
    --green: rgb(0, 182, 62);
    --teal: rgb(0, 255, 255);
    --portfolio-dark-gray: rgb(74, 74, 74);
    --circle-box-shadow: rgba(0, 0, 0, 0.3);
    --circle-background-teal: rgba(0, 209, 255, 0.5);
    --circle-background-green: rgba(0, 255, 157, 0.5);
    --circle-background-yellow: rgba(140, 255, 0, 0.5);
}
.main-portfolio-container {
    position: relative;
    height: 56rem;
    width: 100vw;
}