:root {
    --main-background-color: rgb(220, 220, 220);
    --accent-dark-gray: rgb(130, 130, 130);
    --shadow-dark-gray: rgb(120, 120, 120);
}
* {
    overflow-x: hidden;
}
body {
    background-color: var(--main-background-color);
    margin: 0;
}
.circle {
    border-radius: 50%;
    background-color: var(--accent-dark-gray);
    box-shadow: 0 0 10px 5px var(--shadow-dark-gray);
}
.link {
    cursor: pointer;
}