:root {
    --contact-me-bg: rgb(210, 183, 170);
    --contact-me-main: rgb(245, 220, 198);
    --contact-me-accent: rgb(106, 91, 86);
    --contact-me-font: 'Inter';
    --contact-circle-opac: rgba(114, 130, 77, 0.5);
    --contact-circle-color: rgb(114, 130, 77);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}
.contact-me-container {
    position: relative;
    z-index: 900;
    height: 56rem;
    width: 100vw;
    background-color: var(--contact-me-bg);
    overflow: hidden;
}