.piano {
    position: relative;
    z-index: 100;
    list-style-type: none;
    padding: 0;
}
.piano-key {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.natural-key-content {
    position: relative;
    z-index: -1;
    width: 14rem;
    height: 5.95rem;
    float: right;
    overflow: hidden;
    user-select: none;
}
.natural-key-content h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.natural-key-content p {
    margin: 0;
}
.sharps-and-flats {
    position: absolute;
    height: 4rem;
    width: 9rem;
    margin-top: -2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}