:root {
    --main-font: 'Inter';
    --transparent-background: rgba(0, 0, 0, 0.3);
    --main-dark-gray: rgb(92, 92, 92);
    --mid-light-gray: rgb(136, 136, 136);
    --accent-shadow-light-gray: rgb(178, 178, 178);
    --main-shadow-light-gray: rgb(180, 180, 180);
    --light-gray: rgb(188, 188, 188);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --youtube-red: rgb(255, 0, 0);
    --instagram-purple: rgb(98, 0, 255);
    --main-teal: rgb(0, 209, 255);
}
.landing-page-container {
    height: 56rem;
    width: 100vw;
    overflow: hidden;
}