.featured-project-image img {
    box-shadow: 0 0 5px 8px var(--main-shadow-light-gray);
}
.featured-project-info {
    background-color: var(--transparent-background);
    color: var(--white);
}
.featured-project-info h1 {
    background-color: var(--transparent-background);
    font-weight: 500;
}
.featured-project-1-info h1 {
    font-size: 2rem;
}
.featured-project-2-info p {
    font-size: 0.8rem;
}
.featured-project-3-info h1 {
    font-size: 1.25rem;
}
.featured-project-3-info p {
    font-size: 0.7rem;
}
.next-page-container {
    background-color: var(--light-gray);
    box-shadow: 0 0 5px 5px var(--accent-shadow-light-gray);
}