.previous-featured-projects-container {
    display: grid;
    grid-template-columns: 1fr;
}
.previous-featured-project {
    position: relative;
    height: 10rem;
    overflow: hidden;
}
.previous-featured-project img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    user-select: none;
}
.previous-featured-project-description {
    position: absolute;
}
.previous-featured-project-info {
    position: relative;
    z-index: 100;
    height: 12rem;
    padding: 0 0.5rem 0 0.5rem;
}
.previous-featured-project-info .circle {
    position: absolute;
    z-index: -1;
    top: 0.5rem;
    right: 0.5rem;
    height: 7rem;
    width: 7rem;
}
.previous-featured-project-info h2 {
    margin: 0;
}
.previous-featured-project-info p {
    margin: -0.5rem 0 0 0;
}
.portfolio-links-container {
    width: fit-content;
    bottom: 0.5rem;
    left: 0.5rem;
}
.previous-featured-project-ratings {
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
}
.btn {
    display: block;
}
.btn-content {
    display: flex;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.btn-content p {
    margin: auto 0.5rem auto 0;
    user-select: none;
}
.btn-content svg {
    height: 1.5rem;
    width: 1.5rem;
}
.encourage-btn svg {
    transform: rotate(180deg);
}
.discourage-btn {
    margin: 0.2rem 0 0 0;
}
#activate-project {
    height: 27rem;
}
.portfolio-catalog-btn {
    width: 8rem;
    float: right;
    margin: 0;
    user-select: none;
}
.portfolio-catalog-btn-content {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
}
.portfolio-catalog-btn-content p {
    width: 6rem;
    margin: auto 0 auto 0;
}
.portfolio-catalog-btn-content svg {
    width: 1.5rem;
}