.portfolio-catalog {
    background-color: var(--catalog-background);
}
.logo-watermark h3 {
    font-size: 1.8rem;
    font-family: var(--catalog-header-font), sans-serif;
}
.logo-watermark  h3:nth-child(1){
    color: rgba(0, 0, 0, 0.1);
}
.logo-watermark  h3:nth-child(2){
    color: rgba(0, 0, 0, 0.2);
}
.logo-watermark  h3:nth-child(3){
    color: rgba(0, 0, 0, 0.3);
}
.logo-watermark  h3:nth-child(4){
    color: rgba(0, 0, 0, 0.1);
}
.close-catalog-btn {
    background-color: var(--catalog-dark-gray);
    box-shadow: none;
}
.portfolio-catalog-project-header {
    font-family: var(--catalog-header-font), sans-serif;
    font-size: 1.3rem;
    color: var(--catalog-header-light-gray);
}
.portfolio-catalog-project-header h1:nth-child(2) {
    opacity: 0.2;
}
.portfolio-catalog-project-description p {
    font-size: 0.8rem;
    font-family: var(--catalog-main-font), sans-serif;
    font-weight: 300;
    color: var(--white);
}