.landing-page-header-container {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}
.landing-page-header-container h1{
    margin: 0;
}
.landing-page-header-container p {
    margin: 0;
}
.ellipse svg {
    height: 3rem;
    width: 3rem;
    transform: rotate(15deg);
    margin: 2.5rem 0 0 3.4rem;
    user-select: none;
    cursor: pointer;
}